<section class="resume-section" id="about">
	<div class="resume-section-content">
		<h1 class="mb-0">
			{{user.nom}}
			<span class="text-primary">{{user.prenom}}</span>
		</h1>
		<div class="subheading mb-5">
			{{user.adresse}} · {{user.telephone}} ·
			<a href="mailto:{{user.email}}">{{user.email}}</a>
		</div>
		<p class="lead mb-5">{{user.description|raw}}</p>
		<div class="social-icons">
			<a class="social-icon" href="#!">
				<i class="fab fa-linkedin-in"></i>
			</a>
			<a class="social-icon" href="#!">
				<i class="fab fa-github"></i>
			</a>
			<a class="social-icon" href="#!">
				<i class="fab fa-twitter"></i>
			</a>
			<a class="social-icon" href="{{user.facebook}}">
				<i class="fab fa-facebook-f"></i>
			</a>
		</div>
	</div>
</section>
