<section class="resume-section" id="awards">
	<div class="resume-section-content">
		<h2 class="mb-5">Diplômes</h2>
		<ul class="fa-ul mb-0">
		{% for i in diplomes %}
		<li>
				<span class="fa-li">
					<i class="fas fa-trophy text-warning"></i>
				</span>
				{% if i.classement %}
				{{i.classement}}
				<sup>{% if i.classement == 1 %}ère{% else %}ème{% endif %}</sup>
				Place - {% endif %} {{i.nom}}: {{i.etablissement}} -{{i.annee}}
			</li>
		{% endfor %}
		</ul>
	</div>
</section>
