<section class="resume-section" id="education">
	<div class="resume-section-content">
		<h2 class="mb-5">Cursus</h2>
		{% for i in cursus %}
		<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
			<div class="flex-grow-1">
				<h3 class="mb-0">{{i.nomUniversite}}</h3>
				<div class="subheading mb-3">{{i.filiere}}</div>
			</div>
			<div class="flex-shrink-0">
				<span class="text-primary">{{i.dateDebut|format_datetime('short', 'none')}} - {% if i.dateFin %} {{i.dateFin |format_datetime('short', 'none') }} {% else %} Aujourd'hui {% endif %}</span>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
