{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    {% include 'home/navbar.html.twig' %}
    <div class="container-fluid p-0">
         {% include 'home/about.html.twig' %}
         <hr class="m-0" />
            {% include 'home/experience.html.twig' %}
            <hr class="m-0" />
            {% include 'home/education.html.twig' %}
            <hr class="m-0" />
            {% include 'home/skills.html.twig' %}
            <hr class="m-0" />
            {% include 'home/interests.html.twig' %}
            <hr class="m-0" />
            {% include 'home/awards.html.twig' %}
    </div>

{% endblock %}
