<section class="resume-section" id="interests">
                <div class="resume-section-content">
                    <h2 class="mb-5">Centres d'interêt</h2>
                    <p>{{user.interets|raw}}</p>
                </div>
            </section>