<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
	<a class="navbar-brand js-scroll-trigger" href="#page-top">
		<span class="d-block d-lg-none">{{user.prenom}} {{user.nom}}</span>
		<span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{{vich_uploader_asset(user, 'imageFile')}}" alt="..."/></span>
	</a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link js-scroll-trigger" href="#about">A propos</a>
			</li>
			<li class="nav-item">
				<a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
			</li>
			<li class="nav-item">
				<a class="nav-link js-scroll-trigger" href="#education">Cursus</a>
			</li>
			<li class="nav-item">
				<a class="nav-link js-scroll-trigger" href="#skills">Compétences</a>
			</li>
			<li class="nav-item">
				<a class="nav-link js-scroll-trigger" href="#interests">Centres d'interêt</a>
			</li>
			<li class="nav-item">
				<a class="nav-link js-scroll-trigger" href="#awards">Diplômes</a>
			</li>
		</ul>
	</div>
</nav>
