<section class="resume-section" id="skills">
	<div class="resume-section-content">
		<h2 class="mb-5">Compétences</h2>
		{% for i in categ %}
		<div class="subheading mb-3">{{i.nom}}</div>
		<ul class="fa-ul mb-0">
		{% for j in i.competences %}
			<li>
				<span class="fa-li">
					<i class="fas fa-check"></i>
				</span>
				{{j.nom}}
			</li>
		{% endfor %}
		</ul>
		<hr>
		{% endfor %}
	</div>
</section>
