{% extends '@EasyAdmin/page/content.html.twig' %}
{% block page_title %}SaraIzem. - Administration{% endblock %}
{% block content %}

<div class="jumbotron">
<h1>Administration</h1>
<p>Bienvenue dans la partie administration de ton site web.</p>
</div>
{% endblock %}